langgraph==1.1.5
minio==7.2.20
python-dotenv>=1.0
numpy>=1.26
Pillow>=10.0
pdr>=0.6
openai>=1.0
fastapi>=0.111
uvicorn[standard]>=0.29
qdrant-client>=1.9
requests>=2.31
sqlalchemy>=2.0
pds.peppi>=0.8
pds.api-client>=1.7
langchain-openai>=0.2
kafka-python>=2.0.2
fpdf2>=2.7
langsmith>=0.1
httpx>=0.28
pytest>=9.0
